main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    height: 100vh;
    padding: 0 5%;
    overflow: hidden;
}

.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80em;
    border-radius: 10px 0 0 10px;
    height: 85vh;
}

.imagem{
    background: url('../../assets/Group52.png') center right;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    height: 85vh;
    width: 50%;
    
}

h1{
    color: #FF0000;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
}

.formulario-login {
    position: relative;
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    height: 85vh;
    flex-direction: column;
}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs{
    border: 1px solid #6F6C6C;
    border-radius: 10px;
    margin: 10% 0 0 0;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.redefinir-senha{
    color: #FF0000;
}

.redefinir-senha:hover{
    cursor: pointer;
}

.links{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1em;
    margin: 3% 0 8%;
}

.setinha{
    color: var(--red);
    position: absolute;
    top: 15px;
    left: 15px;
    border: var(--red) 2px solid;
    padding: 4px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}