.container-estoque {
  background-color: black;
  height: 100vh;


  & main {
    background-color: black;
    background: url('../../assets/tesoura-sobre.png') center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .desfazer {
      display: flex;
      justify-content: end;
      width: 83%;
      padding-bottom: 5px;

      & button {
        border: 2px solid red;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        background: transparent;
        color: white;

        &:hover {
          background: red;
        }
      }
    }

    & section {
      height: 90%;
      width: 85%;
      display: flex;

      & .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      & .right-side {
        padding-left: 20px;
        width: 65%;

        & .info-categoria {
          height: 100%;
          border: 2px solid var(--red);
          border-radius: 10px;
          margin-left: 60px;
          background: var(--black-100);
          display: flex;
          flex-direction: column;

          & .new-product {
            display: flex;
            justify-content: center;
            height: 90%;

            & section {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              & h1 {
                font-size: 3em;
                color: var(--white);
                padding-bottom: 50px;
              }
            }
          }
        }


        & .textos-categoria {
          border: 2px solid var(--red);
          border-radius: 10px;
          height: 200px;
          margin: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          color: var(--white);
          background: var(--gray-700);

          & section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 60px;
            width: 100%;

            & .left,
            .right {
              display: flex;
              flex-direction: column;
              gap: 20px;
            }
          }

          & .botoes-card {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            height: 80px;

            & .excluir {
              border: 2px solid red;
              padding: 10px;
              cursor: pointer;
              border-radius: 10px;

              &:hover {
                background: red;
              }
            }

            & .editar {
              border: 2px solid white;
              padding: 10px;
              cursor: pointer;
              border-radius: 10px;

              &:hover {
                background: white;
                color: black
              }
            }
          }

          & h1 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

.info-categoria::-webkit-scrollbar {
  width: 6px;
}

.info-categoria::-webkit-scrollbar-thumb {
  background-color: var(--grey-1000);
  border-radius: 10px;
}

.info-categoria::-webkit-scrollbar-track {
  background: transparent;
}

.botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  height: 10%;
  width: 100%;

  & button,
  .add-product-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-700);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 5px 5px;
    cursor: pointer;
    color: white;
    width: 170px;
  }
}

.content-categoria {
  height: 90%;
  overflow: auto;
  scrollbar-color: var(--gray-700) transparent;
}

.adicionar {
  display: flex;
  flex-direction: row !important;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--red);

  & .conteudo {
    display: flex;
    background: var(--gray-700);
    padding: 20px;

    & .conteudo-esquerdo,
    .conteudo-direito {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & label {
      display: flex;
      flex-direction: column;
      padding: 10px;

      & input {
        height: 35px;
        width: 250px;
        border: 2px solid var(--red);
        font-size: 1em;
      }

      & p {
        font-size: 1.5em;
        color: var(--white);
      }
    }
  }
}