.background-image {
    background-image: url('../../assets/Group52.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  /* Ajusta conforme necessário */
    height: 100vh; /* Ajusta conforme necessário */
    display:flex;
    justify-content: space-around;
}

.backImage{
    background-image: url('../../assets/bgcard.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;  /* Ajusta conforme necessário */
    height:60vh; /* Ajusta conforme necessário */

}
body {
    overflow: hidden; /* Remove a rolagem */
}

.containerSelects {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 10vh;

}