.header {
    background: var(--black);
    display: flex;
    justify-content:flex-start;
    align-items: center;

}

.logo {
    height: 12rem; 
    margin: -40px;
    align-self:center !important
}

.navList {
    list-style: none;
    display: flex;
    gap: 10rem; 
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
}

.navfull{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;       
    margin-left: 10rem;
    margin-right: 9rem;
}


.headernav{
    display:flex;
    justify-content: center;
}

.navList li {
    color: white;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: inherit;
    font-family: 'Kokoro', sans-serif;
}

a:visited {
    color: inherit;
}

a:hover,
a:active {
    text-decoration: none;
    color: inherit; 
}


.navList .nolink {
    color: white; 
     font-family: 'Kokoro', sans-serif;
     font-size: 1rem;
}

.button {
    display: inline-block; 
    padding: 10px 20px;
    border: 2px solid red;
    color: red !important;
    background-color: transparent;
    text-decoration: none;
    border-radius: 0px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

.button:hover {
    background-color: red;
    color: white !important;
}

.navList .active {
    color: red;
}

.active {
    color: red;
}

