.planoAtual {
    width:320px;
    height: 55px;
    display: inline-block; 
    padding: 10px 20px;
    font-size: 25px;
    border: 1px solid red;
    color: white !important;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align:center;
    transition: background-color 0.3s, color 0.3s;
    
}
.saibaMais{
    background-color: red;
    border: 2px solid red;
    color: white;
}

.saibaMais:hover {
    border: 2px solid red;
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.saibaMais:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    row-gap:4vh
}

.containerPlanos{
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 100%;    
    justify-content: space-between;
}

.select_dropdown{
    width: 100%;
    padding: 10px 20px;
}

.button {
    display: inline-block; 
    padding: 10px 40px;
    border: 2px solid red;
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
}
.button:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}



