

.agenda {
    width: 100%;
    height: 100vh;
    background: url('../../assets/fundo-agendamento.png') no-repeat center center/cover;
    overflow-y: hidden;
}

.containerAgenda {
    width: 100%;
    padding: 30px;
    display: flex;
}

.agendaDate{
  width: 70%;
  display: flex;
  justify-content: center;
}


